@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 48 4% 14%;
    --foreground: 210 20% 90%;
    --card: 48 5% 18%;
    --card-foreground: 210 20% 90%;
    --popover: 48 5% 18%;
    --popover-foreground: 210 20% 90%;
    --primary: 15 88% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 20% 90%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 10% 60%;
    --accent: 210 10% 23%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 5% 25%;
    --input: 210 10% 23%;
    --ring: 15 88% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 48 4% 14%;
    --foreground: 210 20% 90%;
    --card: 48 5% 18%;
    --card-foreground: 210 20% 90%;
    --popover: 48 5% 18%;
    --popover-foreground: 210 20% 90%;
    --primary: 15 88% 62%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 210 20% 90%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 10% 60%;
    --accent: 210 10% 23%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 5% 25%;
    --input: 210 10% 23%;
    --ring: 15 88% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
